header {
	background: var( --header );
	display: flex;
	justify-content: center;
	padding: 10px 0;
}
header > div {
	display: flex;
	justify-content: space-between;
}
header > div .dash {
	display: flex;
}
header > div .dash > div {
	margin: 0 10px;
	display: flex;
	align-items: center;
}
header > div > div.logo img {
	display: block;
	width: 150px;
}